@use "./base" as *;

.about {
  text-align: left;
  padding: 50px 0 100px 0;
  border-bottom: 1px dotted $blue;
  @include default-flex(flex, column, space-around, center);

  @media (min-width: 600px) {
    flex-direction: row;
  }

  &__desc {
    @include default-flex(flex, column, center, center);
    padding-top: 50px;
    > p {
      padding: 10px 10px;
      max-width: 350px;
      line-height: 130%;
      word-spacing: 5px;
    }
  }
}
.contact {
  padding: 200px 0;
  @include default-flex(flex, column, center, center);
  > h5 {
    padding: 50px 0;
  }

  > ul {
    @include default-flex(flex, row, center, center);
    > li {
      padding: 30px;
      transition: transform 0.3s ease-in-out;
    }
    > li:hover {
      transform: translateY(-5px);
    }
  }
}

#sub {
  max-width: 300px;
  margin: auto;
  @extend %img-responsive;
}
