@use "./uni" as *;

.navbar {
  @extend %border-style;

  &__menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;

    &__link {
    }
  }
}

a {
  font-size: 14px;
  text-decoration: none;
}
