@use "./uni" as *;

.navbar {
  // @extend %border-style;

  &__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;

    &__link {
      padding: 10px;
    }
  }
}

a {
  font-size: 14px;
}
