* {
  font-family: "Chivo", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fdf9eb;
  color: #cb997e;
}

.wrapper {
  background-color: #fdf9eb;
  color: #cb997e;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll {
  width: 90%;
  height: 90%;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
}

p {
  font-size: 16px;
  line-height: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.navbar__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}
.navbar__menu__link {
  padding: 10px;
}

a {
  font-size: 14px;
}

.landing {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}
.landing__container {
  width: 50%;
}
.landing__container > h1 {
  font-size: 26pt;
  padding: 7px 0;
}
.landing__container > h2 {
  font-size: 12pt;
  padding-left: 7px;
}
.landing__container #italic {
  display: inline;
  font-style: italic;
  color: #a6bee4;
}

.content {
  display: flex;
  flex-direction: column-reverse;
}

.project {
  text-align: center;
}
.project__container {
  display: flex;
  justify-content: space-between;
}
