$main-font: "Poppins", sans-serif;

h6 {
  font-size: 16px;
  padding-bottom: 10px;
}

h2 {
  padding: 20px 0;
  border-bottom: 1px solid lightgray;
  margin-bottom: 30px;
}

p {
  text-align: justify;
}
