.navbar,
.inner-wrapper {
  border: dotted 2px lightgray;
  border-radius: 7px;
  margin-bottom: 7px;
}

* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #b5b5b5;
}

.wrapper {
  background-color: #fef7ee;
  color: #4a4235;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll {
  width: 90%;
  height: 90%;
}

li {
  list-style-type: none;
}

.inner-wrapper {
  padding: 20px;
}

p {
  font-size: 14px;
}

.navbar__menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
}

a {
  font-size: 14px;
  text-decoration: none;
}

.landing {
  display: block;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 20px;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 20px;
}

.landing__container {
  width: 50%;
}

h1 {
  font-size: 26pt;
  padding: 7px 0;
}

h2 {
  font-size: 12pt;
  padding-left: 7px;
}

#italic {
  display: inline;
  font-style: italic;
  color: #a6bee4;
}
