@use "../abstracts" as *;

.landing {
  display: flex;
  flex-direction: row-reverse;
  //   align-items: center;
  justify-content: space-between;
  height: 100%;

  &__nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 100px;

    > ul > li {
      // list-style-type: none;
      padding: 10px 0;

      > a {
        text-decoration: none;
      }
    }
  }

  &__main {
    display: flex;
    align-items: flex-end;
    margin-bottom: 70px;

    &__content {
      &--l {
        font-size: 40px;
      }
    }
  }
}
