@use "../base/typography" as *;
@use "../abstracts/index" as *;

.pgblk {
  min-height: 100vh;
}

.wrapper {
  margin: 0 20px;
}

.content__container {
  margin: 0 20px;
}

.icon {
  max-height: 20px;
  max-width: 20px;
  //   padding: 10px;
}

li {
  list-style-type: none;
}
